<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body style="background-image: none;background-color: gray;">
        <div style="position: absolute;left: 25%;top: 25%;display: inline-flex;">
            <img src="/images/warning.png" alt="">
            <h1 style="align-self: center;color: rgba(26, 25, 25, 0.877);">This <b>User</b> not Found</h1>
        </div>
    </body>
</html>