<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <div id="home-container">
            
            <div class="logo"><img src="/images/back8.jpg" alt="alt text"></div>

            <div id="links-cont">
                <div><a href="signin">SignIn / SignUp</a></div>
                <div><a href="signin">Report Issue</a></div>
            </div>

            <div id="demo-cont"><img src="/images/back8.jpg" alt="alt text"></div>

        </div>
    </body>
</html>

