<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        
        <div class="logo"><img src="/images/back8.jpg" alt="alt text"></div>
        
        <div id="login-page">
            <h2 style="color: white;text-align: center;">-----  Sign In -----</h2>

            <div id="form-container">
                <form method="POST" action="/check">
                    <label for="username">Username :</label>
                    <input name="username" id="username" type="text" placeholder="Enter your Username" required>
                    <label for="password">Password :</label>
                    <input name="password" id="password" type="text" placeholder="Enter your Password" required><br><br>
                    <input type="submit" style="position:absolute;right: 50px;bottom: 10px; width: 110px;">
                </form>
            </div>
            <p style="text-align: center;color: white;text-shadow: 1px 1px 2px red, 0 0 25px black, 0 0 5px black;">New User ? <a style="color: #54cf17;text-decoration: none;" href="signup">Click Here</a> to register.</p>

        </div>
    </body>
</html>